body {
  font: 14px "Arial", "Helvetica", "sans serif";
  color: #000;
  background-color: #fff;
  line-height: 1.5em;
}

head {
  padding-top: 10em;
}

.container {
  width: 100%;
  min-height: 1000px;
  margin: 0 auto; /* top and bottom, right and left */
  text-align: left; /* top, right, bottom, left */
  padding-top: 0em;
  padding-left: 0em;
  padding-right: 0em;
  padding-bottom: 1em;
}
a:link {
  color: #4488ff;
  text-decoration: underline;
}
a:active {
  color: #4488ff;
  text-decoration: underline;
}
a:visited {
  color: #4488ff;
  text-decoration: underline;
}
a:hover {
  color: #ff0000;
  text-decoration: none;
}
.reference {
  font-size: 80%;
}
h3 {
  display: inline;
}
.video-grid {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

:root {
  --vid-height: 256;
}

.video-container-nocap {
  height: calc(var(--vid-height) * 1px + 1lh);
  display: block; margin: 0px; padding: 0px; position: relative;
}
.video-container-nocap > video {
  height: calc(var(--vid-height) * 1px);
  position: relative;
}

.video-container {
  height: calc(var(--vid-height) * 1px + 0.5lh);
  display: block; margin: 0px; padding: 0px; position: relative;
  margin-bottom: 1lh;
}
.video-container > video {
  height: calc(var(--vid-height) * 1px);
  position: relative;
}

.vl-main {
  top: calc(var(--vid-height)*1px - 1lh);
  width: calc(512px * var(--vid-height) / 320);
  text-align: center; position: absolute; background-color: #fff8;
}
.vl-1 { left: calc(512px * 0 * var(--vid-height) / 320); }
.vl-2 { left: calc(512px * 1 * var(--vid-height) / 320); }
.vl-3 { left: calc(512px * 2 * var(--vid-height) / 320); }
.under-label {
  top: calc(var(--vid-height)*1px);
  width: 100%; text-align: left; position: absolute;
}
