body {
  font-family: "Google Sans", sans-serif;
}

.vspace {
  font-size: 1rem;
  @media (max-width: 767px) { font-size: 0.5rem; }
  // background-color: red;
}

.ours {
  font-variant: small-caps;
}

.body_container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.section_wide {
  max-width: 1344px;
  margin: auto;
}

.section_narrow {
  max-width: 960px;
  margin: auto;
}

.section_title {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
  @media (max-width: 767px) { padding-bottom: 0.5rem; }
}

.para_justify {
  width: 100%;
  text-align: justify;
  @media (max-width: 767px) { font-size: 0.8rem; }
}

.para_center {
  width: 100%;
  text-align: center;
}


.title_section {
  @extend .section_wide;
  text-align: center;
  font-size: 1.25rem;
  @media (max-width: 767px) { font-size: 1rem; }
}

.paper_title {
  font-weight: 600;
  line-height: 1.125;
  font-size: 3rem;
  @media (max-width: 767px) { font-size: 1.7rem; }
}

.paper_author {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  @media (max-width: 767px) { gap: 0.7rem; }
}

.paper_author>a {
  line-height: 1rem;
  text-align: center !important;
  font-size: 1.25rem !important;
  cursor: pointer;
  text-decoration: none;
  color: hsl(204, 86%, 53%) !important;
  @media (max-width: 767px) { font-size: 1.1rem !important; }
}

.link_container {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  @media (max-width: 767px) { gap: 0.7em; }
}

.link_item {
  text-decoration: none;
  user-select: none;
  align-items: center;
  display: inline-flex;
  height: 2.5em;
  justify-content: center;
  white-space: nowrap;
  background-color: #363636;
  color: #fff;
  border-radius: 500000px;
  padding: 0 1.25rem 0 1.25rem;
}

.link_icon {
  height: 1.4em;
  filter: invert(100%);
  padding-right: 0.4em;
}

.bibtex {
  overflow-x: auto;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: #f5f5f5;
}

@keyframes fade_out_landscape_warning {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.view_landscape {
  display: none;
  @media screen and (max-width: 768px) and (orientation: portrait) {
    display: block;
    font-size: 0.7rem;
    font-style: italic;
    color: #f00;
    // animation: fade_out_landscape_warning 2s ease-out 1s forwards;
  }
}
.video_caption {
  font-size: 1.25rem;
  @media (max-width: 767px) { font-size: 0.9rem; }
}

////////////////////////////////////////////////////////////////////////////////

.labeled_video {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  container-type: inline-size;
}

.video_container {
  display: grid;
  grid-row: 1/-1;
  grid-column: 1/-1;
  @media (max-width: 767px) {
    grid-row: 2/-1;
    grid-column: 1/-1;
  }
}

.video_container > video {
  width: 100cqw;
  position: absolute;
}

.video_container > img {
  width: 100%;
  position: static;
  grid-row: 1/1;
  grid-column: 1/1;
}

.labeled_video>div[data-label=t] {
  display: inline-block;
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
  padding-top: .2rem;
  padding-bottom: .2rem;
  grid-row: 1;
  background-color: #fffb;
  z-index: 200;
  @media (max-width: 767px) {
    background-color: unset;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@keyframes loading-video {
  0% {
    color: #aaa;
  }

  100% {
    color: #fff;
  }
}

.labeled_video>div[data-load-ind=t] {
  grid-row: 3;
  grid-column: 1/-1;
  // display: inline-block;
  text-align: center;
  font-size: 2rem;
  padding: .5rem;
  color: #ff0;
  z-index: 200;
  text-shadow: #000 0 0 .2rem;
  animation-name: loading-video;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
